* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: bold 14px/1.4 'Open Sans', arial, sans-serif;
}

html, body {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    background-color: black;
}
body::-webkit-scrollbar {
    display: none;
    width: 0;
}
body::-webkit-scrollbar-track{
    display: none;
}

#main {
    width: 100%;
    min-height: 100vh;
}

nav {
    z-index: 99999;
    position: fixed;
    font-weight: 200;
    gap: 4vw;
    letter-spacing: 2px;
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(10px);
}

nav a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    position: relative;
}

nav a:after {
    content: '';
    position: absolute;
    bottom: -1px;
    left: 50%;
    width: 0;
    height: 2px;
    background-color: #ffffff; /* Set the color of the underline */
    transition: all 0.3s ease;
}

nav a:hover:after {
    width: 100%;
    left: 0;
}
#page1{
    height: 100vh;
    position: relative;
    width: 100%;
    background-color: red;
}

#page1 h1{
    font-size: 15vw;
    text-transform: uppercase;
    line-height: 14vw;
    letter-spacing: 4px;
    text-align: center;
    justify-content: center;
    padding-top: 15%;
}
#page1 p{
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top:20px;
    letter-spacing: 2px;
    
}
#about{
    top: 20px;
    margin: 20px;
    height: 90vh;
    border-radius: 8px;
    position: relative;
    background-color:#a19f94;
    z-index: 9999;
}
#about h1 {
    font-size: 14vw; /* Adjust font size based on viewport width */
    position: absolute;
    bottom: 73%; /* Adjust the top value to control the vertical position */
    left: 0%; /* Adjust the left value to control the horizontal position */
}

  #about p {
    font-size: 3vh;
    padding-top: 20%;
    width: 60%;
    margin-left: 6%;  
}
#about h2 {
    font-size: 160vh;
    margin-left: 95vw;
    margin-bottom: 9%;
    position: absolute;
    bottom: -60%;
    left: -15%;
    
}
#page2{
    background-color: aqua;
    height:100vh;
    width:100%;
    position: relative;
    padding: 3vw;
    z-index: 999;
    
}



#page3{
    background-color: rgb(0, 64, 255);
    height:80vh;
    width:100%;  
   
    border-radius: 8px;  
}.wrapper{
    max-height:150px;
    border: 1px solid red;
    display: flex;
    overflow-x: auto;
    font-size: 20vh;
}
.wrapper::-webkit-scrollbar{
    width: 0;
}
.wrapper .item{
    min-width:110px;
    height: 110px;
    line-height: 110px;
    text-align: center;
    background-color: #ffffff;
}


#page4{
    background-color: rgb(0, 255, 4);
    height:100vh;
    width:100%;
    position: relative; 
    padding: 3vw 1vw;
    display: flex;
    justify-content: space-evenly;
    
}
#page4 .ele1{
background-color: cadetblue;
height: 100%;
width:50%;
}


#horizontal h2{
    font-size: 20vh;
    font-weight: 600;
    padding-left: 10%;
    letter-spacing: 2PX;
    text-transform: uppercase;
    opacity: 50%;
}
#horizontal {
    width: 100%;
  background-color: white;
    height: 100vh;
 
    border-radius: 10px;

    
}
#horizontal {
    overflow-x: hidden;
    -ms-overflow-style: none; /* For Internet Explorer */
}
#horizontal {
    width: fit-content; /* Adjust as needed */
  
    border-radius: 10px;
   
    padding-bottom: 80px;
     /* Adjust as needed */
}

.container {
    display: flex;
    overflow-x: auto;
    flex-wrap: nowrap;
    border-radius: 10px;
    height: 70vh;
    margin-top: -100PX;
    
}

.horizontal_content {
    display: flex;
    height: 70vh;
   
   
    background-color: rgb(255, 255, 255);
 

}

.horizontal_item {
    flex: 0 0 auto;
    height: 50vh;
    box-sizing: border-box;
    width: 40vw; /* Adjust the width as needed */
    min-width: 100px; /* Minimum width to prevent items from becoming too small */
    padding: 10px;
    margin-top: 10%;
   
    text-align: center;
   
    margin-right: 10px;
    margin-top: 4%;
}

.horizontal_num {
    font-size: 4vw;
     /* Adjust the font size based on the viewport width */
}


.horizontal_num h1 {
    padding-right: 120px;
    font-size: 6vw; /* Use viewport width for responsive font size */
    font-weight: 700;
    font-family: sans-serif;
    max-width: 100%; /* Limit the maximum width of the text */
    box-sizing: border-box; /* Include padding in the total width */
}
.horizontal_num p{
    font-size: .8rem;
    text-align: justify;
    padding-right: 100px ;
    margin-right: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#horizontal h3{
    font-size: 80px;
    font-weight: 100;
    margin-left:20% ;
    color: red;
    background-color: aqua;

}

